/* * {
	border: 1px dashed red;
	min-height: 10px;
}*/
body {
	background: black;
	font-family: Verdana;
}
p {
	font-size: 14px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	height: 50px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-right {
	display: block;
}
.body-left,
.body-right {
	padding: 15px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
	width: 100%;
	font-family: "Lucida Sans";
	font-size: 14px;
	line-height: 24px;
}
.postcard-footer {
	text-align: center;
	margin-top: 0;
}
button {
	background-color: rgb(192, 192, 192);
	padding: 5px;
	border: none;
}
